Source: lzhuf
Priority: optional
Maintainer: Ham-Radio-Software <d-rats@group.io>
Build-Depends: debhelper-compat (= 11)
Standards-version: 4.5.0
Section: hamradio
Homepage: https://groups.io/g/d-rats
Vcs-Git: https://github.com/ham-radio-software/lzhuf.git
Vcs-Browser: https://github.com/ham-radio-software/lzhuf.git
Rules-Requires-Root: no

Package: lzhuf
Section: hamradio
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},${shlibs:Depends}
Description: Winlink compression package
 lzhuf compression tool binary for D-Rats to communicate with WinLink.
